
<app-header></app-header>

<div class="container-fluid">    
  <div class="row">
    <div class="col-sm-12"> 
                <!--left-->        
                <app-sidebar></app-sidebar>
                
<section> 
  <router-outlet></router-outlet>
</section>
                <!--/left--><!--  <br>
        <h1>
          {{ title }}!
        </h1>
        <h5><a target="_blank"  href="https://angular.io/tutorial">Tour of Heroes | </a>
          <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation | </a>
          <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
        </h5><br> -->

    </div>
  </div>
</div>
<app-footer></app-footer>








