
        <br><br><br><br>
        <div class="col-md-2" id="leftCol" style="border: azure">
          <nav class="navbar navbar-expand-sm bg-success navbar-dark">
          <ul class="nav nav-stacked-left" id="sidebar">
            <li><a [routerLink]="['manage_emp']">Manage Employee</a></li>
            <li><a [routerLink]="['add_emp']">Add Employee</a></li>
            <li><a [routerLink]="['manage_emp2']">Manage Employee 2</a></li>
            <li><a href="#sec3">Section 3</a></li>
            <li><a href="#sec4">Section 4</a></li>
          </ul></nav>
        </div><!--/left-->
