
<div class="col-sm-6">
<form>
    <div class="form-group row">
      <label for="employeeName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" #empName id="employeeName" placeholder="Enter name" ngModel />
        </div>
      </div>
    <div class="form-group row">
      <label for="employeeEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" #empEmail id="employeeEmail" placeholder="Enter Email" ngModel />
      </div>
    </div>
    <div class="form-group row">
        <label for="employeeAge" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" #empAge id="employeeAge" placeholder="Enter Age" ngModel />
        </div>
      </div>
    <button type="button" (click)="addEmployee(empName.value, empEmail.value, empAge.value)" class="btn btn-primary">Add Employee</button>
  </form></div>